<!DOCTYPE html>
<html>
    <head>
        <title>Managment System</title>
        <link rel="stylesheet" href="/css/navStyle.css">
        <nav>
            <ul>
                <li><a href="/main">Read</a></li>
                <li><a href="/create">Create</a></li>
                <li><a href="/update">Update</a></li>
                <li><a href="/delete">Delete</a></li>
                <li><a href="/">Log Out</a></li>
            </ul>
        
        </nav>