<%- include("partials/header") %>
<link rel="stylesheet" href="/css/createStyle.css">
<body>
    
    <div class="box">
        <h1>Stock Create</h1>
    <form method="POST">
        
        <input type="text" name="itemName" placeholder="item name" required>        
        <input type="number" name="itemStock" placeholder="stock number" required>
        <input type="number" name="itemPrice" placeholder="item price" required>
        <input type="text" name="itemImg" placeholder="img url" required>
        <button type="submit">Add</button>
    </form>
    </div>

    
</body>




<%- include("partials/footer") %>
