<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <link rel="stylesheet" href="/css/loginStyle.css">
    </head>

    <body>
        <h1>Management System Login (you can use admin/admin)</h1>
        <div>
        <form method="POST">
            <label for="userID">staffNumber</label>
            <input type="text" name="userID" placeholder="staffNumber" required>
            <label for="userPW">password</label>
            <input type="password" name="userPW" placeholder="password" required>
            <button type="submit">Register</button>
        </form>
        </div>

    </body>

</html>